table.diamondsweeper-board td {
  padding: 0;
  border: 1px solid black; }

  .cell {
    height: 50px;
    width: 50px;
    cursor : pointer;
    background-size: 50px 50px;
    transform: rotate(0deg);
  }
  .cell.diamond {
    background-image: url(img/diamond.png); }
  .cell.unknown {
    background-image: url(img/question.png); }
  .cell.right {
    background-image: url(img/arrow.png); }
  .cell.left {
    background-image: url(img/arrow.png);
    transform: rotate(180deg);
  }
  .cell.up {
    background-image: url(img/arrow.png);
    transform: rotate(-90deg);
  }
  .cell.down {
    background-image: url(img/arrow.png);
    transform: rotate(90deg);
  }

  #controls {
    margin-top: 20px;
  }
