
@media screen and (max-width: 767px) {
    #container {
        width: 100%;
    }
    .diamondSweeper-board {
        width:100%;
    }    
    .diamondSweeper-board .cell {
        width: 11%;
    }
}


